* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: red;
}

h1 {
    color: pink;
    background-color: yellow;
}

p {
    color: green;
    background-color: aqua;
}














